loaddefs.el*
backups/*
auto-save-list
*elc
places
url/cookies
elpa-to-submit/jabber/jabber.info
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc
thumbs/*
oddmuse/*
.newsrc-dribble
.nnmail-cache
/#.newsrc-dribble#
.svn
.DS_Store
image-dired/
elim/
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc~
session*
tramp
\#*
history
.session
*~
custom.el
ac-comphist.dat
url
private.el
.org*
undohist
/srecode-map.el
/semanticdb
*-first.el
/saveplace
/.emacs.desktop
/.emacs.desktop.lock
/abbrev_defs
/swank
/ede-projects.el
