[submodule "site-lisp/undohist"]
	path = site-lisp/undohist
	url = https://github.com/m2ym/undohist-el.git
[submodule "site-lisp/lolcode-mode"]
	path = site-lisp/lolcode-mode
	url = https://github.com/bodil/lolcode-mode.git
[submodule "site-lisp/runlol"]
	path = site-lisp/runlol
	url = https://github.com/bodil/runlol.git
[submodule "site-lisp/js2-mode"]
	path = site-lisp/js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "site-lisp/mark-multiple"]
	path = site-lisp/mark-multiple
	url = https://github.com/magnars/mark-multiple.el.git
