[submodule "site-lisp/slime"]
	path = site-lisp/slime
	url = git://sbcl.boinkor.net/slime.git
[submodule "site-lisp/swank-js"]
	path = site-lisp/swank-js
	url = https://github.com/ivan4th/swank-js.git
