[submodule "site-lisp/auto-complete"]
	path = site-lisp/auto-complete
	url = git://github.com/auto-complete/auto-complete.git
[submodule "site-lisp/tern"]
	path = site-lisp/tern
	url = git://github.com/marijnh/tern.git
